{% extends "base.html" %}
{% block title %}Удаление товара{% endblock %}

{% block content %}
    <h1>Удаление товара</h1>
    <div class="col-8">
    <form method="POST" action="/delete">
        <div class="form-group">
            <label for="name">Имя товара для удаления:</label>
            <input type="text" class="form-control" name="name">
        </div>
        <button type="submit" class="btn btn-primary mt-3">Сохранить</button>
        <a href="/" class="btn btn-secondary mt-3">Назад</a>
    </form>
</div>
{% endblock %}